<!--네비게이션바에 메뉴선정-->
<span class="sr-only">Navigation:</span>
<ul>
    <!-- 메뉴 각각을 식별하기위한 인덱스 -->

    <li>
        <div
            class="menu-wrapper"
            onmouseover="javascript:spread(9)"
            onmouseout="javascript:spread(9)"
        >
            <!-- submenu 변수는 _config.yml 에서 추가합니다 -->

            <a id="_drawer--opened" href="/about/" class="sidebar-nav-item">
                About
            </a>
        </div>
    </li>

    <!-- 메뉴 각각을 식별하기위한 인덱스 -->

    <li>
        <div
            class="menu-wrapper"
            onmouseover="javascript:spread(10)"
            onmouseout="javascript:spread(10)"
        >
            <!-- submenu 변수는 _config.yml 에서 추가합니다 -->

            <a href="/posts/" class="sidebar-nav-item"> Posts </a>
        </div>
    </li>

    <!-- 메뉴 각각을 식별하기위한 인덱스 -->

    <li>
        <div
            class="menu-wrapper"
            onmouseover="javascript:spread(11)"
            onmouseout="javascript:spread(11)"
        >
            <!-- submenu 변수는 _config.yml 에서 추가합니다 -->

            <a href="/example1/" class="sidebar-nav-item"> Example1 </a>
        </div>
    </li>

    <!-- 메뉴 각각을 식별하기위한 인덱스 -->

    <li>
        <div
            class="menu-wrapper"
            onmouseover="javascript:spread(12)"
            onmouseout="javascript:spread(12)"
        >
            <!-- submenu 변수는 _config.yml 에서 추가합니다 -->

            <a href="/example2/" class="sidebar-nav-item"> Example2 </a>
        </div>
    </li>

    <!-- 메뉴 각각을 식별하기위한 인덱스 -->

    <li>
        <div
            class="menu-wrapper"
            onmouseover="javascript:spread(13)"
            onmouseout="javascript:spread(13)"
        >
            <!-- submenu 변수는 _config.yml 에서 추가합니다 -->

            <!-- spread 함수는 js 파일로 작성하고 my-head.html에 추가합니다 -->
            <!-- spread-btn class는 my-style.scss에 추가합니다. -->
            <button class="spread-btn">
                <!-- marterial stylesheet를 my-head.html에 추가합니다 -->
                <span id="spread-icon-13" class="material-icons"
                    >arrow_right</span
                >
            </button>

            <a href="/subcat/" class="sidebar-nav-item"> Subcat </a>

            <div id="submenu-13" class="menu-wrapper submenu hide">
                <ul style="list-style: none">
                    <li>
                        <a class="sidebar-nav-item" href="/test1/"> Test1 </a>
                    </li>

                    <li>
                        <a class="sidebar-nav-item" href="/test2/"> Test2 </a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>
