<!--네비게이션바에 메뉴선정-->
<span class="sr-only">Navigation:</span>
<ul>
    <!-- 메뉴 각각을 식별하기위한 인덱스 -->
    <!-- <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(10)" onmouseout="javascript:spread(10)">
            <a id="_drawer--opened" href="/TIL/" class="sidebar-nav-item"> TIL </a>
        </div>
    </li> -->

    <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(11)" onmouseout="javascript:spread(11)">
            <!-- submenu 변수는 _config.yml 에서 추가합니다 -->

            <a
                id="_drawer--opened"
                href="https://kkardd.notion.site/kkardd/Jr-Backend-Developer-372b2afc5bc84d2f9b69b6d11b2735b1"
                class="sidebar-nav-item"
                target="_blank"
            >
                Portfolio
            </a>
        </div>
    </li>

    <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(12)" onmouseout="javascript:spread(12)">
            <!-- submenu 변수는 _config.yml 에서 추가합니다 -->
            <!-- spread 함수는 js 파일로 작성하고 my-head.html에 추가합니다 -->
            <!-- spread-btn class는 my-style.scss에 추가합니다. -->
            <button class="spread-btn">
                <!-- marterial stylesheet를 my-head.html에 추가합니다 -->
                <span id="spread-icon-12" class="material-icons">arrow_right</span>
            </button>

            <a href="/project/" class="sidebar-nav-item"> Project </a>

            <div id="submenu-12" class="menu-wrapper submenu hide">
                <ul style="list-style: none">
                    <li>
                        <a class="sidebar-nav-item" href="/dwitter/"> Dwitter </a>
                    </li>

                    <li>
                        <a class="sidebar-nav-item" href="/nogwari/"> NoGwari </a>
                    </li>
                    <li>
                        <a class="sidebar-nav-item" href="/donga/"> DongA </a>
                    </li>
                    <li>
                        <a class="sidebar-nav-item" href="/kwangsaeng/"> 광생 </a>
                    </li>
                </ul>
            </div>
        </div>
    </li>

    <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(13)" onmouseout="javascript:spread(13)">
            <!-- submenu 변수는 _config.yml 에서 추가합니다 -->

            <a href="/study/" class="sidebar-nav-item"> Study </a>
        </div>
    </li>
    <!-- 메뉴 각각을 식별하기위한 인덱스 -->
</ul>
